{% load i18n %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="description" content="parsvid.com">
<meta property="og:title" content=":: به پارسوید خوش آمدید :: بهترین ویدیوهای روز را با هر سرعت اینترنتی به راحتی مشاهده کنید." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>:: parsvid.com :: خوش آمدید</title>

</head>

<body style="background-color: #fff none repeat scroll 0 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;height: 100% !important;padding-top:30px;width: 100% !important;">
<center>
<a href="http://www.parsvid.com/" target="_blank" title="parsvid.com" style="text-decoration: none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
                <img src="http://new.parsvid.com/media/img/logo.png" alt="parsvid.com logo" height="" width="" class="logoImage" style="border: 0;color: #99722c !important;font-family: Tahoma, Geneva, Verdana, sans-serif;font-size: 60px;font-weight: bold;height: auto !important;letter-spacing: -4px;line-height: 100%;outline: none;text-align: center;text-decoration: none;-ms-interpolation-mode: bicubic;">
            </a>

<table style="border: 1px solid #24c2ff;background: #eceff1;" cellpadding="0" width="600" cellspacing="0">
    <tr>
        <td style="direction:rtl;padding:5px 10px;color:rgba(0, 0, 0, 0.65);">


            <h3>بازیابی رمز عبور.</h3>
            <p>
                برای بازیابی رمز عبور اکانت خود <a style="color:#990000;text-decoration:none;" href="http://new.parsvid.com{% url 'auth_password_reset_confirm' uid token %}">اینجا</a> کلیک کنید یا لینک زیر را در بخش نشانی مرورگر خود کپی کنید:
                <pre style="padding:10px;direction:ltr;border:1px solid #24c2ff;">http://new.parsvid.com{% url 'auth_password_reset_confirm' uid token %}</pre>
            </p>
			<br /><br />

            

        </td>
    </tr>
    <tr>
        <td>
            <center>

            <div style='direction:ltr !important; padding:15px;font-size:12px;'>
                <center>
                    <small> © 2014 parsvid.com ®, All Rights Reserved. </small>
                </center>
            </div>

            
                {% comment %}
                    
                <table border="0" cellpadding="5" cellspacing="0" id="utilityLinkBlock" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse !important;">
                <tr>
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/agreement/" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">متن توافقنامه</a>
                </td>
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/rules/" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">شرایط استفاده</a>
                </td>
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/privacy/" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">حریم خصوصی</a>
                </td>
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/CopyRight/" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">گزارش نقض حق مولف</a>
                </td>
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/contactUs" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">تماس با ما</a>
                </td>
                
                <td valign="top" class="utilityLink" style="font-family: Tahoma;font-size: 11px;line-height: 125%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                <a href="http://parsvid.com/adds/" target="_blank" style="color: #99722c;text-decoration:none;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">تبلیغات</a>
                </td>
                </tr>
                </table>
                {% endcomment %}


            </center>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
</table>


</center>


</body>

</html>
